@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --verde-escuro: #004030;
  --verde-claro:  #4A9782;
  --dourado:#DCD0A8;
  --branco: #FFF9E5;
  --preto:#000000;
  --texto:"Inter", sans-serif;
  --titulo:"Bitcount Grid Double", system-ui;
  
}
body{
    background-color: var(--preto);
  font-family: var(--texto);
  margin: 0;
}

header{
  background-color: blue;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.img-logo{
  width: 10%;
  border-radius: 100%;
}

.menu{
  display: flex;
  list-style: none;
  gap: 30px;
  color: var(--branco);
  font-size: 20px;
  font-family: var(--titulo);
  text-transform: uppercase;
}

.menu a{
  text-decoration: none;
  color: var(--verde);
}

.menu a:hover{
  color: var(--preto);
  transition: 0.5;
}

